# PostgreSQL
POSTGRES_USER=admin
POSTGRES_PASSWORD=changeme
POSTGRES_DB=medical_db

# pgAdmin
PGADMIN_DEFAULT_EMAIL=admin@medical.com
PGADMIN_DEFAULT_PASSWORD=changeme

# MongoDB
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=changeme
MONGO_DB=medical_nosql

# Mongo Express
ME_CONFIG_BASICAUTH_USERNAME=admin
ME_CONFIG_BASICAUTH_PASSWORD=changeme

# Volumétrie : data_small (~60k) | data_medium (~600k) | data_large (~6M)
DATA_SIZE=data_small
